html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-gutter: stable;
}

.nav-link, .navbar-text, a {
    color: white;
    text-decoration: none;
}

.nav-link:hover, .navbar-text:hover {
    color: goldenrod;
}

.container, .card {
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 50%;
    height: auto;
    border-radius: 15px;
    color: white;
    background-color: #bba7f1;
}

.form-control {
    margin-bottom: 15px;
    text-align: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
